<h2>USA Gas Price Tracker</h2>
<p>Contructed By NYIT CSCI 665 Westbury Team 1 Fall 2022:
  <br />
  <br>Robert Trieste, Alex Gusmano, Gummadi Pavani, Mohana Pranadeep Potti, Rajeev Gurram and Venkata Sundeep<br>
</p>

<h3 id="tableLabel">Current Gas Data By State</h3>

<p>This component returns the raw dataframe from the server.</p>


<!-- We will embed the raw data that is hosted in GCP sheets below in an iframe module-->

<iframe title="USA Gas Prices State Data"
  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQA4Bu7NMviTOmR8Lb4aFEAhFRrEmlfJqd3DcgjhKbWZJh4HQtOKYO6DC_b1wBE9qr23zpUuBNXXCco/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
  width="940" height="1180"></iframe>



<br>
