
<h1>USA Gas Price Tracker</h1>
<p>
  Contructed By NYIT CSCI 665 Westbury Team 1 Fall 2022:
  <br />
  <br>Robert Trieste, Alex Gusmano, Gummadi Pavani, Mohana Pranadeep Potti, Rajeev Gurram and Venkata Sundeep<br>
</p>

<br>
<p>Some highlights of this application:</p>

<ul>
  <li>We utilize infrastructure from all three major cloud providers: <a href='https://aws.amazon.com/'>Amazon AWS</a> for the backend and service layers to host a Linux EC2 which runs <a href='https://www.python.org/'>Python</a> scripts that scrape publicly-available gas price data published daily by the American Automobile Association, <a href='https://cloud.google.com/'>Google Cloud Platform (GCP)</a> to host the dataframe produced and finally <a href='https://azure.microsoft.com/en-us/'>Microsoft Azure</a> to host and run our web app which is built and debugged using <a href='https://visualstudio.microsoft.com/downloads/'>Visual Studio</a></li>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>

  <li><strong>Client-side navigation</strong>. For example, click <em>State Data</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>


<p>Some further reading and very helpful references:</p>



<ul>
  <li><a href='https://towardsdatascience.com/web-visualization-with-plotly-and-flask-3660abf9c946'>Web visualizations with Plotly and Flask</a></li>
  <li><a href='https://blog.heptanalytics.com/flask-plotly-dashboard/'>Good Blog on Plotly</a></li>
  <li><a href='https://developers.google.com/sheets/api/quickstart/python'>Google Sheets API</a></li>
  <li><a href='https://learn.microsoft.com/en-us/azure/app-service/quickstart-python?tabs=flask%2Cwindows%2Cazure-cli%2Cvscode-deploy%2Cdeploy-instructions-azportal%2Cterminal-bash%2Cdeploy-instructions-zip-azcli'>Microsoft Azure App Deployment</a></li>
  <li><a href='https://console.cloud.google.com/'>Access the Google Service Account API Console</a></li>
  <li><a href='https://stackoverflow.com/questions/64240836/how-to-connect-google-sheet-api-on-aws-ec2'>Trouble spots when connecting AWS EC2 and Google GCP</a></li>
  <li><a href='https://docs.gspread.org/en/latest/user-guide.html#opening-a-spreadsheet'>Ways to Open Google Sheets with Key or API</a></li>
  <li><a href='https://stackoverflow.com/questions/23377533/python-beautifulsoup-parsing-table'>Parsing data tables with the Beautiful Soup Python Library</a></li>
  <li><a href='https://medium.com/craftsmenltd/from-csv-to-google-sheet-using-python-ef097cb014f9'>From a CSV to Google Sheets through Python</a></li>
</ul>


